<!doctype html>

<html lang="en">

    <head>
        <title>About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
}

body {
    font-family: sans-serif;
    text-align: center;
}

/* parallax code taken from "https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax_percent" , adapted for our current website. 
 this reference also includes the 7th line in this file. */

.parallax {
  background-image: url("/oakScroll.jpg");

  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.nav ul {
  position: relative; 
  top: 0 px;
  margin: 10px; 
  padding: 10px;
  list-style-type: none;
  margin: 10; 
  padding: 0; 
  overflow: hidden;
  background-color: #cdddf7;
  border-bottom: 1px solid slategrey;
  border-top: 1px solid slategray;

}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #8cb7ff;
}

.msg {
  border-bottom: 1px solid black;
  background: white;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 1em;
}

.namelist {
    list-style: none;
}


/* ^^^^^^^^^^ */
</style>
    </head>

    <body>
        <div class="nav">
            <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
            <div class="parallax"></div>
        <img src="/logo.png" width="200px" height= "200px" alt="Oak Inc. logo" class="center"> 
        <section>
            <p>We are a group of six students, from three different degrees. This website and the application that have been created are part 
                of our 206CDE "Real world project" assessment at Coventry University. As we are a diverse group we have
                got to learn from each other and develop new skills, challenging ourselves with concepts we would not have had to
                face otherwise. We started off as three ITB, one Computer Science and two Computing students. Given unforseen circumstances,
                two ITB students had to leave and they were replaced by two Computer Sciece students. That did not affect us, as
                we quickly got together and started working together towards our final goal.</p><br>
            <p>The aim of the project was to create an alternative attendance system for our university. We decided on working with
                NFC stickers as a replacement for the current RFID cards. NFC stickers are cheaper, less bulky and easier to replace.
                We have worked on the project as a team, helping each other and learning new concepts. So far we have an mobile application
                that is related to the stickers themselves, we are able to register attendance and create personalized reports, and
                we have recently developed this website, which is similar in functionality to the mobile application. We have learned PHP,
                HTML, optimal data storage concepts, CSS and technical aspects of the NFC tags. We have improved our SQLite, Javascript
                and Software Development Lifecycle skills. Working as a team also further improved our soft skills such as communication,
                time management and teamworking.</p>
                <div class="parallax"></div>
            <p>Our team members are:</p>
            <ul class="namelist">
                <li>Jacob Stenson</li>
                <li>Grace Clamp</li>
                <li>Elliot Hawkins</li>
                <li>Mihail Bulanov</li>
                <li>Aaron Chatha</li>
                <li>Andrei Bivolaru</li>
            </ul>
        </section>
    </body>     
 </html>
