
<!doctype html>

<html lang="en">
	<head>
		<title>Home</title>
		<link href="styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="nav">
			<ul>
				<li><a href="/logout">Logout</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}

		<h3>Total Classes:</h3>
		<h3>Present:</h3>
		<h3>Late:</h3>
		<h3>Absent:</h3>
		</body>
</html>
