
<!doctype html>

<html lang="en">
	<head>
		<link href="styles2.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Welcome (username of user)</h1>
		<a href="/logout">Logout</a>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<p>Please find details of your attendance below.</p>
</html>
