
<!doctype html>

<html lang="en">
	<head>
		<link href="loginpage.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Home</h1>
		<a href="/logout">Logout</a>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<h2>Welcome</h2>
		<p>This is a page where students can see their attendance</p>
</html>
