
<!doctype html>

<html lang="en">
	<head>
		<title>Log In</title>
		<link href="loginpage.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Log In</h1>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<div class="loginbox">
		<form action="/login" method="post">
			<p><label>Username<br><input type="text" name="user" placeholder="your username" maxlength="20" value="{{user}}" 
			autofocus oninput="this.value=this.value.toLowerCase()" required></label></p>
			<p><label>Password<br><input type="password" name="pass" placeholder="your password" value="" required></label></p>
			<p><label><input type="submit" value="Log in"></label></p>
		</form>
		</div>
	</body>
</html>



