
h1 {
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black; 
}

a:hover {
    text-decoration: none;
    color: slategray;
    border-bottom: 2px solid slategrey; 
}